<html>
    <head>
        <title>Stock Reader </title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        
    </head>

    <body>
            <div class="ui container">
        <h1>Stock Reader</h1>
        {% block content %}
        {% endblock %}
        </div>
    </body>
  <!-- Site footer -->
  <footer class="site-footer">
        <div class="container" style=" position: fixed; bottom: 0; right: 0;">
              <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text"> Developed By @Radhio
                </p>
              </div>
          </div>
</footer>
</html>